.App {
  padding: 20px;
  margin: 20px;
}

.Answer {
  text-align: left;
  position: relative;
  margin-left: 10px;
}

.AnswerHead {

}

.Input {

}

.Results {
  display: inline;
  margin-left: 10px;
}

th {
  font-size: 13px;
}
tr {
  font-size: 12px;
}