.App {
  padding: 20px;
  margin: 20px;
}

.Answer {
  text-align: left;
  position: relative;
  margin-left: 10px;
}

label {
  font-size: 12px;
  margin-left: 3px;
}

.Results {
  display: inline;
  margin-left: 10px;
}

th, td {
  border: 1px solid #ddd;
  font-size: 13px;
}
tr {
  border: 1px solid #ddd;
  font-size: 12px;
}